{% extends 'base.off.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<style>
    @media (max-width: 768px) {
        .form-signin {
            padding: 15px;
        }
    }
    #inputEmail::placeholder, #inputPassword::placeholder {
        color: rgb(252, 201, 201);
    }
</style>

<div class="container mt-5 mb-5 test">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6"> 
            <form method="post" class="form-signin" style="padding: 20px; background: rgba(85, 85, 85, 0.8); border-radius: 8px; box-shadow: 0 0 15px red;">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3 text-muted">
                        Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                    </div>
                {% endif %}

                <h1 class="h1 mb-3 font-weight-normal text-center text-light ft_audiowide">Connexion</h1>
                
                <div class="form-group mt-4 mb-4">
                    <label class="p-2 m-1 h5 text-danger ft_audiowide" for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email"
                    placeholder="mail@mail.com" style="background: transparent; border: 1px solid red; color: white" required autofocus>
                </div>
                
                <div class="form-group mt-4 mb-4">
                    <label class="p-2 m-1 h5 text-danger ft_audiowide" for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password"
                    placeholder="******" required style="background: transparent; border: 1px solid red; color: white">
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="checkbox mb-3">
                    <label class="text-light">
                        <input type="checkbox" name="_remember_me" style="accent-color: red;">
                        <span class="ft_audiowide">Se souvenir de moi</span>
                    </label>
                </div>
                

                <div class="mt-3 text-center">
                    <p class="text-light mb-n5">Pas encore de compte ?<br>
                        <a href="{{ path("app_register") }}" class="text-danger mt-n5">Créer un compte</a>
                    </p>
                </div>

                <button class="btn btn-lg btn-danger btn-block" type="submit" style="border: 1px solid red; display: block; margin: 20px auto; width: 80%; max-width: 300px; padding: 10px 0; font-size: 16px;">Connexion</button>

                <div class="mt-3 text-center">
                    <p class="text-light mb-n5">Vous avez oublié votre mot de passe ?<br>
                        <a href="{{ path("app_forgot_password_request") }}" style="color: red;">Réinitialiser mon mot de passe</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
