{# templates/profil/change_password.html.twig #}
{% extends 'base.logged.html.twig' %}

{% block title %}Changer le mot de passe{% endblock %}

{% block body %}

<style>
    .container {
        max-width: 800px;
    }

    .btn {
        padding: 5px 10px;
        font-size: 0.9rem;
    }

    h1, h4, h5, p {
        margin: 5px 0;
    }

    .card {
        padding: 10px;
    }

    .card-shadow {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1), 0 0 15px white;
        border-radius: 20px;
        border: 7px solid #000;
    }

    .form-control {
        background: transparent;
        border: 2px solid green;
        color: dark !important;
    }

    .form-group label {
        margin-bottom: 0.5rem;
        font-weight: bold;
    }

    .form-group .form-control {
        margin-bottom: 1rem;
    }
</style>

<div class="container mt-5 mb-3" data-controller="sweetalert">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <form method="post" class="form-change-password p-5 card-shadow bg-light" data-controller="sweetalert" data-sweetalert-target="form">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3 text-center text-warning">
                        Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a class="text-success" href="{{ path('app_logout') }}">Se déconnecter</a><br>
                        Par soucis de sécurité nous vous demandons de resaisir votre mot de passe.
                    </div>
                {% endif %}

                <h1 class="h1 mb-3 font-weight-normal text-center text-dark ft_orbitron">Modifier le mot de passe</h1>

                <div class="form-group mt-4 mb-4">
                    <label class="p-2 m-1 h5 text-dark ft-audiowide" for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email"
                    placeholder="mail@mail.com" style="background: transparent; border: 2px solid green; color: dark !important" required autofocus>
                    {# Champ d'entrée pour l'email avec style personnalisé #}
                </div>

                <div class="form-group mt-4 mb-4">
                    <label class="p-2 m-1 h5 text-dark ft-audiowide" for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password"
                    placeholder="******" required style="background: transparent; border: 2px solid green; color: dark !important">
                    {# Champ d'entrée pour le mot de passe avec style personnalisé #}
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                {# Champ caché pour le jeton CSRF nécessaire pour la sécurité #}

                <div class="checkbox mb-3">
                    <label class="text-dark">
                        <input type="checkbox" name="_remember_me" style="accent-color:green">
                        <span class="anton-regular text-black">Se souvenir de moi</span>
                        {# Option pour se souvenir de la session de connexion #}
                    </label>
                </div>

                <div class="mt-3 text-center">
                    <p class="text-dark mb-0">Pas encore de compte ?<br>
                        <a href="{{ path("app_register") }}" class="text-success fw-bold">Créer un compte</a>
                    </p>
                    <p class="text-dark mb-0 mt-2">Vous avez oublié votre mot de passe ?<br>
                        <a href="{{ path("app_forgot_password_request") }}" class="text-success fw-bold">Réinitialiser mon mot de passe</a>
                    </p>
                    {# Liens pour créer un compte et réinitialiser le mot de passe #}
                </div>
            </form>
        </div>
    </div>

    {% for label, messages in app.flashes %}
    {% for message in messages %}
    <div class="flash-message" data-label="{{ label }}" data-message="{{ message }}"></div>
    {% endfor %}
    {% endfor %}
</div>
{% endblock %}
