{% extends 'base.logged.html.twig' %}

{% block title %}Rendering Details{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Nom du Rendu : {{ rendering.renderingName }}</h1>
    <div class="card shadow-sm">
        <div class="card-header bg-success text-white">
            Détails de l'image
        </div>
        <div class="card-body">
            <p><strong>Date de création :</strong> {{ rendering.createdAt|date('d/m/Y H:i:s') }}</p>
            <p><strong>Lien client :</strong> <a href="{{ path('rendering_client_show', {'token': rendering.token}) }}" target="_blank">{{ path('rendering_client_show', {'token': rendering.token}) }}</a></p>
            <div data-controller="image" 
                 data-image-front-png="{{ vich_uploader_asset(rendering, 'frontPngFile') }}" 
                 data-image-toward-png="{{ vich_uploader_asset(rendering, 'towardPngFile') }}">
                 
                 <div data-image-target="canvasContainer" style="width: 450px; height: 300px; border: 1px solid #ccc; margin-bottom: 20px;"></div>
            
                <button class="btn btn-secondary me-2" data-action="click->image#toggleRotation" data-image-target="resetButton">Pause Rotation</button>
                <button class="btn btn-secondary me-2" data-action="click->image#resetCamera" data-image-target="resetButton">Reset Camera</button>
                <button class="btn btn-success" data-action="click->image#showModalCanvas">Afficher en plein écran</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}