{% extends 'base.logged.html.twig' %}

{% block title %}Upload PDF{% endblock %}

{% block body %}
<h1>Upload PDF</h1>

{{ form_start(form) }}
    {{ form_row(form.front_file) }}
    {{ form_row(form.back_file) }}
    {{ form_row(form.single_file) }}
    {{ form_row(form.dimensions) }}
    <button type="submit">Upload</button>
{{ form_end(form) }}
{% endblock %}
