
{% extends 'base.logged.html.twig' %}

{% block title %}Changer le mot de passe{% endblock %}

{% block body %}

<style>
    
   .card-shadow {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1), 0 0 15px white;
        border-radius: 20px;
        border: 7px solid #000;
    }
    .container-center {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: calc(80vh - 70px); /* Ajuste la hauteur pour éviter le défilement */
        padding: 20px 0; 
    }
    .card-content {
        padding: 50px; 
    }
    .form-change-password input,
    .form-change-password label,
    .form-change-password button {
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }
    .form-change-password button {
        width: auto;
    }
    .form-change-password input {
        background: transparent;
        border: 2px solid green;
        
    }
    .form-change-password label {
        padding: 4px;
        margin: 1px;
        font-family: 'Anton', sans-serif;
    }
    .form-change-password button {
        display: block;
        margin: 20px auto;
        width: 100%;
        max-width: 300px;
        padding: 10px 0;
        font-size: 16px;
    }
</style>

<div class="container-center mt-5" data-controller="sweetalert">
    <div class="card-shadow bg-light card-content m-5">        
        <h2 class="mb-4 text-dark ft_orbitron">Changer de mot de passe</h2>
        <div class="card-body">

            <form method="post" class="form-change-password text-dark" data-controller="sweetalert" data-sweetalert-target="form">
                {{ form_start(changePasswordForm, {'attr': {'class': 'form'}}) }}
                {{ form_widget(changePasswordForm) }}
                <button type="submit" class="btn btn-success mt-3 ft_wallpoet">Changement</button>
                {{ form_end(changePasswordForm) }}
            </form>
        </div>
    </div>

    {% for label, messages in app.flashes %}
    {% for message in messages %}
    <div class="flash-message" data-label="{{ label }}" data-message="{{ message }}"></div>
    {% endfor %}
    {% endfor %}
</div>
{% endblock %}