{% extends 'base.logged.html.twig' %}

{% block title %}Changer de mot de passe{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow"
                style="background: rgb(252, 251, 251); border-radius: 20px; border: 5px solid black; box-shadow: 0 0 15px white !important;">
                <div class="card-body">
                    <form method="post" class="form-change-password" data-controller="sweetalert" data-sweetalert-target="form">
                        <h1 class="text-center text-success mb-4 ft_orbitron">Changer mot de passe</h1>

                        {{ form_start(changePasswordForm, {'attr': {'class': 'form'}}) }}
                        <div class="mb-3">
                            {{ form_label(changePasswordForm.oldPassword, null, {'label_attr': {'class': 'text-dark
                            fw-bold ft_audiowide'}}) }}
                            {{ form_widget(changePasswordForm.oldPassword, {'attr': {'class': 'form-control', 'style':
                            'background: transparent; border: 2px solid green; color: dark;'}}) }}
                            {{ form_errors(changePasswordForm.oldPassword) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(changePasswordForm.newPassword, null, {'label_attr': {'class': 'text-dark
                            fw-bold ft_audiowide'}}) }}
                            {{ form_widget(changePasswordForm.newPassword, {'attr': {'class': 'form-control', 'style':
                            'background: transparent; border: 2px solid green; color: dark;'}}) }}
                            {{ form_errors(changePasswordForm.newPassword) }}
                        </div>
                        <button type="submit" class="btn btn-success w-100 fw-bold" style="padding: 10px 0;">Changer mot
                            de passe</button>
                        {{ form_end(changePasswordForm) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}