{# templates/profil/change_password.html.twig #}
{% extends 'base.logged.html.twig' %}

{% block title %}Changer le mot de passe{% endblock %}

{% block body %}
<div class="container mt-5" data-controller="sweetalert">
    <h1 class="mb-4">Changer le mot de passe</h1>
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            Modifier votre mot de passe
        </div>
        <div class="card-body">

            <form method="post" class="form-change-password" data-controller="sweetalert" data-sweetalert-target="form">
                {{ form_start(changePasswordForm, {'attr': {'class': 'form'}}) }}
                {{ form_widget(changePasswordForm) }}
                <button type="submit" class="btn btn-success mt-3">Changer le mot de passe</button>
                {{ form_end(changePasswordForm) }}
            </form>
        </div>
    </div>

    {% for label, messages in app.flashes %}
    {% for message in messages %}
    <div class="flash-message" data-label="{{ label }}" data-message="{{ message }}"></div>
    {% endfor %}
    {% endfor %}
</div>
{% endblock %}