{# templates/profil/change_password.html.twig #}
{% extends 'base.logged.html.twig' %}

{% block title %}Changer le mot de passe{% endblock %}

{% block body %}

<style>
    .container {
        max-width: 1200px;
    }

    .btn {
        padding: 5px 10px;
        font-size: 0.9rem;
    }

    h1, h4, h5, p {
        margin: 5px 0;
    }

    .card {
        padding: 10px;
    }

    .card-shadow {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1), 0 0 15px white;
        border-radius: 20px;
        border: 7px solid #000;
    }

    .form-control {
        background: transparent;
        border: 2px solid green;
        color: dark !important;
    }

    .form-group label {
        display: block;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .form-group .form-control {
        width: 100%;
        margin-bottom: 1rem;
    }
</style>

<div class="container mt-5 mb-3" data-controller="sweetalert">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <form method="post" class="form-change-password p-5 card-shadow bg-light" data-controller="sweetalert" data-sweetalert-target="form">
                <h1 class="h1 mb-3 font-weight-normal text-center text-dark ft_orbitron">Modifier le mot de passe</h1>

                {{ form_start(changePasswordForm, {'attr': {'class': 'form'}}) }}

                <div class="form-group mt-4 mb-4">
                    {{ form_label(changePasswordForm.oldPassword, 'Ancien mot de passe', {'label_attr': {'class': 'p-2 m-1 h5 text-dark ft_audiowide'}}) }}
                    {{ form_widget(changePasswordForm.oldPassword, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group mt-4 mb-4">
                    {{ form_label(changePasswordForm.newPassword, 'Nouveau mot de passe', {'label_attr': {'class': 'p-2 m-1 h5 text-dark ft_audiowide'}}) }}
                    {{ form_widget(changePasswordForm.newPassword, {'attr': {'class': 'form-control'}}) }}
                </div>

                <button type="submit" class="btn btn-lg btn-success btn-block ft_wallpoet fw-bold"
                style="display: block; margin: 20px auto; width: 80%; max-width: 300px; padding: 10px 0; font-size: 16px;">Changer le mot de passe</button>

                {{ form_end(changePasswordForm) }}
            </form>
        </div>
    </div>

    {% for label, messages in app.flashes %}
    {% for message in messages %}
    <div class="flash-message" data-label="{{ label }}" data-message="{{ message }}"></div>
    {% endfor %}
    {% endfor %}
</div>
{% endblock %}
