{% extends 'base.logged.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block body %}
    <h1>Change Password</h1>

    {{ form_start(changePasswordForm) }}
        {{ form_row(changePasswordForm.oldPassword) }}
        {{ form_row(changePasswordForm.newPassword) }}
        <button class="btn">Change Password</button>
    {{ form_end(changePasswordForm) }}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
{% endblock %}
