{# templates/profil/change_password.html.twig #}
{% extends 'base.logged.html.twig' %}

{% block title %}Changer le mot de passe{% endblock %}

{% block body %}

<style>
  
    .card-shadow {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1), 0 0 15px white;
        border-radius: 20px;
        border: 7px solid #000;
        width: 100%;
        max-width: 600px;
        padding: 20px;
    }
</style>

<div class="container d-flex justify-content-center align-items-center mt-5" style="min-height: 100vh; " data-controller="sweetalert">
    
    <div class="card-shadow bg-light m-5">        
        <h2 class="mb-4 text-dark p-5 ft_orbitron">Changer le mot de passe</h2>
        <div class="card-body">

            <form method="post" class="form-change-password text-dark" data-controller="sweetalert" data-sweetalert-target="form">
                {{ form_start(changePasswordForm, {'attr': {'class': 'form'}}) }}
                {{ form_widget(changePasswordForm) }}
                <button type="submit" class="btn btn-success mt-3 ft_wallpoet">Changer le mot de passe</button>
                {{ form_end(changePasswordForm) }}
            </form>
        </div>
    </div>

    {% for label, messages in app.flashes %}
    {% for message in messages %}
    <div class="flash-message" data-label="{{ label }}" data-message="{{ message }}"></div>
    {% endfor %}
    {% endfor %}
</div>
{% endblock %}