{% extends 'base.logged.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow" style="background: rgb(252, 251, 251); border-radius: 20px; border: 5px solid black; box-shadow: 0 0 15px white !important;">
                <div class="card-body">
                    <h1 class="text-center text-dark mb-4 ft_orbitron">Mon Profil</h1>

                    {% if app.user %}
                        <p class="text-center text-dark mb-4">Bienvenue, {{ app.user.email }}!</p>
                    {% endif %}

                    {{ form_start(form, {'attr': {'id': 'profil-form', 'class': 'form-horizontal'}}) }}
                        <div class="form-group">
                            {{ form_label(form.firstname, 'Prénom', {'label_attr': {'class': 'text-dark fw_bold ft_audiowide'}}) }}
                            {{ form_widget(form.firstname, {'attr': {'class': 'form-control', 'style': 'background: transparent; border: 2px solid green; color: dark;'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.lastname, 'Nom', {'label_attr': {'class': 'text-dark fw_bold ft_audiowide'}}) }}
                            {{ form_widget(form.lastname, {'attr': {'class': 'form-control', 'style': 'background: transparent; border: 2px solid green; color: dark;'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.email, 'Email', {'label_attr': {'class': 'text-dark fw_bold ft_audiowide'}}) }}
                            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'style': 'background: transparent; border: 2px solid green; color: dark;'}}) }}
                        </div>
                        <div class="text-center">
                            <button id="submit-button" class="btn btn-success btn-block fw-bold ft_fell" type="button" style="border: 2px solid green; display: block; margin: 20px auto; width: 80%; max-width: 300px; padding: 10px 0; font-size: 16px;">Enregistrer</button>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const form = document.getElementById('profil-form'); 
        const submitButton = document.getElementById('submit-button');

        submitButton.addEventListener('click', function() {
            Swal.fire({
                title: 'Êtes-vous sûr?',
                text: "Vous êtes sur le point d'enregistrer les modifications.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Oui, enregistrer!'
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit();
                }
            });
        });
    });
</script>
{% endblock %}
