{% extends 'base.logged.html.twig' %}

{% block title %}Vos factures{% endblock %}

{% block body %}
    <h1>Vos factures</h1>

    <table>
        <thead>
            <tr>
                <th>Numéro de la facture</th>
                <th>Date</th>
                <th>Montant</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoices %}
                <tr>
                    <td>{{ invoice.number }}</td>
                    <td>{{ invoice.created|date('Y-m-d H:i:s', 'U') }}</td>
                    <td>{{ invoice.amount_due / 100 }} {{ invoice.currency|upper }}</td>
                    <td><a href="{{ invoice.hosted_invoice_url }}" target="_blank">Voir la facture</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
