{% extends 'base.logged.html.twig' %}

{% block title %}Créer un Projet{% endblock %}

{% block body %}
<div class="container mt-5 mb-5 p-5">
    <div class="card box-shadow bg-white p-3">
        <div class="d-flex justify-content-start mb-3">
            <a href="{{ path('app_project') }}" class="btn btn-secondary btn-small">Retour aux projets</a>
        </div>
        <h1 class="mb-4 text-success text-center ft_orbitron">Créer un Projet</h1>
        <div class="card-body">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                <section class="form-group row mb-3">
                    {{ form_label(form.projectName, 'Nom du Projet', {'label_attr': {'class': 'col-form-label ft_orbitron'}}) }}
                    <div class="col-sm-12">
                        {{ form_widget(form.projectName, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </section>
                <section class="form-group row mb-3">
                    {{ form_label(form.clientName, 'Nom du Client', {'label_attr': {'class': 'col-form-label ft_orbitron'}}) }}
                    <div class="col-sm-12">
                        {{ form_widget(form.clientName, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </section>
                <section class="form-group row">
                    <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-success">Créer le Projet</button>
                    </div>
                </section>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
