{% extends 'base.logged.html.twig' %}

{% block title %}Modifier Projet{% endblock %}

{% block body %}

<section class="container mb-5 mt-5 p-2" data-controller="sweetalert">
    <div class="card box-shadow bg-white p-4">
        <div class="d-flex justify-content-start mb-3">
            <a href="{{ path('app_project') }}" class="btn btn-secondary btn-small">Retour aux projets</a>
        </div>
        <h1 class="mb-4 text-success text-center">Modification d'un projet</h1>
        <div class="card-body">
            {{ form_start(form, {'attr': {'class': 'form-horizontal edit-form'}}) }}
                <div class="form-group row mb-5">
                    {{ form_label(form.projectName, 'Nom du Projet', {'label_attr': {'class': 'col-form-label'}}) }}
                    <div class="col-sm-12">
                        {{ form_widget(form.projectName, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group row mb-5">
                    {{ form_label(form.clientName, 'Nom du Client', {'label_attr': {'class': 'col-form-label'}}) }}
                    <div class="col-sm-12">
                        {{ form_widget(form.clientName, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10 offset-sm-2">
                        <button type="submit" class="btn btn-success">Modifier le Projet</button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</section>
{% endblock %}
